/* Estilos para el contenedor principal */
main {
    padding: 5%;
}

.title-h1 {
    width: 95%;
    padding-left: 3%;
    background-color: rgba(20, 14, 14, 0.356);
    color: black;
}

.title-h1 h1 {
   color: black; 
}

/* Contenedor para las noticias */
.noticias-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 5%; 
}

/* Estilos para cada noticia */
.noticia {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    padding: 5%;
    flex: 1 1 calc(33.333% - 20px); 
    min-height: 200px;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

/* Imagen dentro de cada noticia */
.noticia img {
    width: 100%;
    height: auto; 
}

/* Título de cada noticia */
.noticia h2 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 10px 0;
}

/* Párrafo dentro de cada noticia */
.noticia p {
    color: rgba(128, 128, 128, 0.719);
    margin: 0;
    flex-grow: 1;
}

.noticia a {
    font-size: 13px;
    color: #fff;
    padding: 5%;
    text-decoration: none;
    background-color: rgba(126, 118, 118, 0.719);
    border-radius: 2px;
    text-align: center;
    margin-top: 5%;
  }

  .noticia a:hover {
    color: rgb(255, 251, 0);
   }

/* RESPONSIVE */
@media (max-width: 769px) {
    .noticia {
        flex: 1 1 100%; 
    }
}
