/* Estilos generales para proyectos */
#projectos {
  padding: 20px;
  text-align: center;
}

.projecto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 13%;
}

#title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(119, 119, 119, 0.377);
  width: 95%;
  margin: auto;
  margin-bottom: 5%;
}

.projecto {
  width: 80%; 
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: rgba(0, 0, 0, 0.459) 1px solid;
  transition: transform 0.3s ease; 
}

.projecto img {
  width: 40%; 
  border: rgba(0, 0, 0, 0.349) 1px solid;
  border-radius: 10px;
}

.project-info {
  flex: 1;
  text-align: left;
}

.project-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.project-info .date {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.project-info .description {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.progress-container {
  width: 100%;
  margin: 20px 0;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: lightgray;
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
}

.progress-bar::before {
  content: '';
  width: 25%;
  height: 8px;
  background-color: #007bff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step {
  font-size: 1rem;
  color: gray;
  position: relative;
}

.step.active {
  color: #007bff;
}

.step::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.step.active::before {
  background-color: #007bff;
}

.more-info {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.more-info:hover {
  background-color: #007bff;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .projecto-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .projecto {
    width: 90%;
    flex-direction: column;
  }

  .projecto img {
    width: 100%;
    max-width: 500px;
  }

  .project-info {
    text-align: center;
  }

  .project-info h2 {
    font-size: 1.5rem;
  }

  .project-info .date, .project-info .description {
    font-size: 1rem;
  }

  .progress-container {
    margin: 10px 0;
  }

  .more-info {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .project-info h2 {
    font-size: 1.2rem;
  }

  .project-info .date, .project-info .description {
    font-size: 0.9rem;
  }

  .more-info {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .progress-container {
  display: none;
  }

}
